body {
    display: flex;
    flex-direction: row;
}

h1 {
    text-decoration: underline;
}

.main-title {
    text-decoration: none;
    text-size-adjust:inherit;
    background-color: white;
    color: black;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 10px;
    text-align: center;
}

a {
    text-decoration: none;
}

#navbar {
    position: fixed;
    color: white;
    border-style: solid;
}

ul.navbar {
    border-width: 1px;
    border-color: black;
    list-style-type: none;
    margin: 5px auto;
    padding: 0;
    width: 24%;
    background-color: #0919aa;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: Caslon;
}

ul.navbar li a {
    display: block;
    padding: 15px 16px;
    text-decoration: none;
    color: white;
    border-style: double;
    border-width: 1px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
}

ul.navbar li a:hover {
    background-color: blanchedalmond;
    color: black;
}
.entire-section-container{
    margin-top: 46px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.section-container {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding-left: 5px;
    border-bottom-width: .5px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 5px 10px;
    
}

.code-div{
    background-color: rgb(240, 240, 238);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-right: 20%;
    margin-left: 20%;
}

.code-output{
    text-align: center;
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul {
    list-style-position: outside;
    margin-left: 10px;
}


li {
    list-style:square;
}

ul .bulletless {
    list-style: none;
}

@media only screen and (max-width: 815px) {
    /* For mobile phones: */
    body{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .main-title {
        position: absolute;
        text-decoration: none;
        background-color: white;
        color: black;
        text-align: center;
        width: 100%;
        height: 10px;
        }

    #navbar {
        color: white;
        border-style: solid;
        position: absolute;
        top: 0;
        margin: 0;
        width: 97%;
        max-height: 250px;
        z-index: 1;
        margin-left: -5px;
    }

    ul.navbar {
        border-width: 1px;
        border-color: black;
        list-style-type: none;
        margin: 5px auto;
        padding: 0;
        width: 24%;
        background-color: #0919aa;
        height: 207px;
        overflow: auto;
        font-family: Caslon;
        width: 100%;
        position: static;
    }

    ul.navbar li a {
        display: block;
        padding: 15px 16px;
        text-decoration: none;
        color: white;
        border-style: double;
        border-width: 1px;
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 5px;
    }

    .entire-section-container {
    position: absolute;
    margin-top: 220px;
    width: 98%;
    margin-left: -25%;
    }

    .section-container {
        border-style: solid;
        border-color: black;
        border-width: 2px;
        width: 98%;
        border-bottom-width: .5px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        box-shadow: 5px 10px;
    }

}
